In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./dataset/training_set.csv')
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X49,X50,X51,X52,X53,X54,X55,X56,X57,Y
0,0,0.00,0.00,4.34,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.000,0.0,1.342,0.000,0.000,1.200,2,12,0
1,1,0.00,0.56,0.56,0.00,1.12,0.56,2.25,0.00,0.0,...,0.0,0.083,0.0,0.503,0.000,0.083,16.304,148,375,1
2,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.000,0.0,0.000,0.000,0.000,1.000,1,5,0
3,3,0.64,0.00,0.64,0.00,1.93,0.00,0.00,0.00,0.0,...,0.0,0.000,0.0,0.462,0.370,0.000,2.440,22,122,1
4,4,0.58,0.00,0.00,35.46,0.58,0.00,0.58,0.58,0.0,...,0.0,0.000,0.0,0.239,0.239,0.000,3.338,123,207,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 59 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3910 non-null   int64
 1   X1          3910 non-null   float64
 2   X2          3910 non-null   float64
 3   X3          3910 non-null   float64
 4   X4          3910 non-null   float64
 5   X5          3910 non-null   float64
 6   X6          3910 non-null   float64
 7   X7          3910 non-null   float64
 8   X8          3910 non-null   float64
 9   X9          3910 non-null   float64
 10  X10         3910 non-null   float64
 11  X11         3910 non-null   float64
 12  X12         3910 non-null   float64
 13  X13         3910 non-null   float64
 14  X14         3910 non-null   float64
 15  X15         3910 non-null   float64
 16  X16         3910 non-null   float64
 17  X17         3910 non-null   float64
 18  X18         3910 non-null   float64
 19  X19         3910 non-null   float64
 20  X20         3910 non-null   float64
 21  X21         3910 non-null   float64
 22  X22         3910 non-null   float64
 23  X23         3910 non-null   float64
 24  X24         3910 non-null   float64
 25  X25         3910 non-null   float64
 26  X26         3910 non-null   float64
 27  X27         3910 non-null   float64
 28  X28         3910 non-null   float64
 29  X29         3910 non-null   float64
 30  X30         3910 non-null   float64
 31  X31         3910 non-null   float64
 32  X32         3910 non-null   float64
 33  X33         3910 non-null   float64
 34  X34         3910 non-null   float64
 35  X35         3910 non-null   float64
 36  X36         3910 non-null   float64
 37  X37         3910 non-null   float64
 38  X38         3910 non-null   float64
 39  X39         3910 non-null   float64
 40  X40         3910 non-null   float64
 41  X41         3910 non-null   float64
 42  X42         3910 non-null   float64
 43  X43         3910 non-null   float64
 44  X44         3910 non-null   float64
 45  X45         3910 non-null   float64
 46  X46         3910 non-null   float64
 47  X47         3910 non-null   float64
 48  X48         3910 non-null   float64
 49  X49         3910 non-null   float64
 50  X50         3910 non-null   float64
 51  X51         3910 non-null   float64
 52  X52         3910 non-null   float64
 53  X53         3910 non-null   float64
 54  X54         3910 non-null   float64
 55  X55         3910 non-null   float64
 56  X56         3910 non-null   int64
 57  X57         3910 non-null   int64
 58  Y           3910 non-null   int64
dtypes: float64(55), int64(4)
memory usage: 1.8 MB

In [4]:
df.describe.T

AttributeError: 'function' object has no attribute 'T'